<div class="post-card">
    <div class="card-body">
        <div class="post-top">
            <h5 class="card-title">{{title}}</h5>
        </div>
        <p class="card-text">{{postContent}}</p>
        <h6 class="card-subtitle">Written By: {{user.name}}</h6>
    </div>
</div>