.post-card {
    border: solid;
    border-width: thin;
    margin: 0.5%;
    border-radius: 8px;
}
.mcustom {
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: right;
}